 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/ggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-image-1 {
  width: 228px;
  height: 279px;
  object-position: 50% 51.93%;
  margin: 244px 228px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 6px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-1 .u-container-layout-1 {
  padding: 41px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 200;
  text-transform: none;
  width: 295px;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 135px;
  min-width: 78px;
  white-space: nowrap;
  margin: 36px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 35px;
}

.u-section-1 .u-icon-2 {
  height: 35px;
}

.u-section-1 .u-icon-3 {
  height: 35px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 220px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 300;
  line-height: 1.8;
  text-transform: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-image-1 {
    width: 233px;
    height: 284px;
    margin-top: 239px;
    margin-right: 160px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 191px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 262px;
    margin-top: 312px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -51px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 28px;
    margin-right: 88px;
    margin-left: 157px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 177px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -43px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: 220px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/wp4706727.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 883px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  width: 680px;
  margin: 133px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 422px;
  height: 283px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}.u-block-a788-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a788-3 {
  position: absolute;
  left: 0;
}

.u-block-a788-4 {
  position: absolute;
  right: 0;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-3-1 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/1689759500924.jpg");
  background-position: 57.22% 50%;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 300;
  margin: 64px auto 0 0;
}

.u-section-3-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-1 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-3-2 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/IMG-20190809-WA0048.jpg");
  background-position: 100% 50%;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-2 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 300;
  margin: 64px auto 0 0;
}

.u-section-3-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-2 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.5rem;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-3-3 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/1689759366695.jpg");
  background-position: 47.26% 50%;
}

.u-section-3-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-3 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 300;
  margin: 64px auto 0 0;
}

.u-section-3-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-3 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 1.5rem;
  }
}

.u-section-3-4 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-3-4 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/1689761260048.jpg");
  background-position: 0% 50%;
}

.u-section-3-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-4 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-4 .u-text-1 {
  font-weight: 300;
  margin: 64px auto 0 0;
}

.u-section-3-4 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-4 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-4 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3-4 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3-4 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-4 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3-4 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-4 .u-text-2 {
    font-size: 1.5rem;
  }
}

.u-section-3-5 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-3-5 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/1689759083293.jpg");
  background-position: 56.15% 50%;
}

.u-section-3-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-5 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-5 .u-text-1 {
  font-weight: 300;
  margin: 64px auto 0 0;
}

.u-section-3-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-5 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-5 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3-5 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3-5 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-5 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3-5 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-5 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2097px;
}

.u-section-4 .u-text-1 {
  width: 415px;
  margin: 48px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 226px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 226px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 226px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 64px 3px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 233px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 64px 10px 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 62px 3px 0;
}

.u-section-4 .u-layout-cell-11 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-11 {
  padding: 10px 10px 0;
}

.u-section-4 .u-image-4 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-13 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-14 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-14 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  width: 205px;
  height: 205px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-15 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px 29px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 54px 36px 0 0;
}

.u-section-4 .u-layout-cell-16 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-16 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 64px 0 0 43px;
}

.u-section-4 .u-layout-cell-17 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-17 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-18 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-18 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-19 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-19 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-20 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-20 {
  padding: 10px;
}

.u-section-4 .u-image-7 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-21 {
  min-height: 231px;
}

.u-section-4 .u-container-layout-21 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 64px 10px 0;
}

.u-section-4 .u-layout-wrap-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-22 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-22 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 62px 3px 0;
}

.u-section-4 .u-layout-cell-23 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-23 {
  padding: 10px 10px 0;
}

.u-section-4 .u-image-8 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-24 {
  min-height: 221px;
}

.u-section-4 .u-container-layout-24 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1774px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 243px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 192px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 182px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 182px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 182px;
  }

  .u-section-4 .u-layout-wrap-3 {
    min-height: 347px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-15 {
    min-height: 190px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-16 {
    min-height: 190px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 3px;
    margin-left: 3px;
  }

  .u-section-4 .u-layout-cell-17 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-18 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-19 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-20 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-21 {
    min-height: 190px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-22 {
    min-height: 182px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-23 {
    min-height: 182px;
  }

  .u-section-4 .u-layout-cell-24 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 191px;
    min-height: 347px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-1 {
    width: 148px;
    height: 148px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 147px;
  }

  .u-section-4 .u-image-2 {
    width: 148px;
    height: 148px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 147px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 147px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 147px;
  }

  .u-section-4 .u-image-3 {
    width: 148px;
    height: 148px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: -79px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 306px;
  }

  .u-section-4 .u-image-4 {
    width: 143px;
    height: 143px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 146px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 306px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-5 {
    width: 149px;
    height: 149px;
  }

  .u-section-4 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-17 {
    min-height: 306px;
  }

  .u-section-4 .u-image-6 {
    width: 143px;
    height: 143px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-18 {
    min-height: 146px;
  }

  .u-section-4 .u-layout-cell-19 {
    min-height: 146px;
  }

  .u-section-4 .u-layout-cell-20 {
    min-height: 306px;
  }

  .u-section-4 .u-image-7 {
    width: 143px;
    height: 143px;
  }

  .u-section-4 .u-layout-cell-21 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: -79px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-22 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-23 {
    min-height: 139px;
  }

  .u-section-4 .u-image-8 {
    width: 143px;
    height: 143px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-24 {
    min-height: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5049px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 212px;
    min-height: 1736px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 473px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 288px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 288px;
    order: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 473px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-9 {
    order: 1;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 294px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 153px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-3 {
    min-height: 1736px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 161px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-17 {
    min-height: 153px;
  }

  .u-section-4 .u-image-6 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-18 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-19 {
    min-height: 329px;
    order: 0;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-20 {
    min-height: 178px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-21 {
    order: 1;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 294px;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-23 {
    min-height: 447px;
  }

  .u-section-4 .u-image-8 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-24 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3317px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 896px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 298px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 181px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 298px;
    order: 1;
  }

  .u-section-4 .u-layout-cell-9 {
    order: 2;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 128px;
  }

  .u-section-4 .u-layout-cell-10 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 96px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 207px;
    order: 2;
  }

  .u-section-4 .u-layout-wrap-3 {
    min-height: 896px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 101px;
  }

  .u-section-4 .u-layout-cell-16 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-17 {
    min-height: 96px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-18 {
    min-height: 207px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-19 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-20 {
    min-height: 112px;
    order: 1;
  }

  .u-section-4 .u-layout-cell-21 {
    order: 2;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 128px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-22 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-23 {
    order: 0;
    min-height: 281px;
  }

  .u-section-4 .u-layout-cell-24 {
    min-height: 207px;
    order: 2;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/94225571-05.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 807px;
}

.u-section-5 .u-image-1 {
  width: 214px;
  height: 214px;
  background-image: url("images/94225571-04.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 55px 183px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 205px;
  height: 205px;
  background-image: url("images/53113-106400-Linux-xl.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -142px auto 0 164px;
}

.u-section-5 .u-image-3 {
  width: 283px;
  height: 283px;
  background-image: url("images/94225571-0.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -70px auto 0 378px;
}

.u-section-5 .u-image-4 {
  width: 223px;
  height: 223px;
  background-image: url("images/Microsoft-365.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -241px 189px 0 auto;
}

.u-section-5 .u-image-5 {
  width: 169px;
  height: 169px;
  background-image: url("images/809_AutomatingITAnsible_Socials_v1_Blog_1182x737.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -223px auto 0 -32px;
}

.u-section-5 .u-image-6 {
  width: 196px;
  height: 196px;
  background-image: url("images/.svg.png");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -68px auto 0 137px;
}

.u-section-5 .u-image-7 {
  width: 214px;
  height: 214px;
  background-image: url("images/1200px-Python-logo-notext.svg.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -29px auto 0 412px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -107px 917px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 321px;
  }

  .u-section-5 .u-image-2 {
    width: 362px;
    height: 362px;
    margin-top: -148px;
    margin-left: 241px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -132px;
    margin-right: 55px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -830px;
    margin-right: 260px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -131px;
    margin-left: 164px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 429px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -612px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 419px;
    margin-right: 717px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-5 .u-image-1 {
    width: 223px;
    height: 223px;
    margin-top: 337px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -310px;
    margin-left: 52px;
  }

  .u-section-5 .u-image-3 {
    width: 295px;
    height: 295px;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -924px;
    margin-right: 104px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -200px;
    margin-left: -32px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 423px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -240px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-right: 497px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: 336px;
    margin-right: auto;
    margin-left: 275px;
  }

  .u-section-5 .u-image-2 {
    width: 185px;
    height: 185px;
    margin-top: -205px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 219px;
    margin-right: auto;
    margin-left: 194px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -1025px;
    margin-right: auto;
    margin-left: 233px;
  }

  .u-section-5 .u-image-5 {
    width: 136px;
    height: 136px;
    margin-top: -66px;
    margin-left: 42px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 522px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -480px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 300px;
    margin-left: auto;
    margin-right: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 558px;
    margin-left: 75px;
  }

  .u-section-5 .u-image-2 {
    width: 156px;
    height: 156px;
    margin-top: -491px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 217px;
    height: 217px;
    margin-top: 500px;
    margin-left: 45px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -1135px;
    margin-left: 74px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 98px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    margin-top: 469px;
  }

  .u-section-5 .u-image-7 {
    width: 145px;
    height: 145px;
    margin-top: -349px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 251px;
    margin-right: 117px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/6dc162beb1deb9312b48702a458b0ab9e8a6de8364b8636e466a78f062db1d20c868b0fd8021a179c2eeb0110e569c53ff4c64e0ad3ece49a859a2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1136px;
}

.u-section-6 .u-text-1 {
  width: 541px;
  margin: 54px auto 0;
}

.u-section-6 .u-table-1 {
  width: 1102px;
  margin: 40px auto 60px;
}

.u-block-0c36-10 {
  height: 46px;
}

.u-section-6 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-block-0c36-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-6 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-6 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 947px;
}

.u-section-7 .u-text-1 {
  margin: 63px 313px 0 300px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 112px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 638px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 213px;
    margin-left: 200px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 526px;
  }

  .u-section-7 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 103px;
    margin-left: 90px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1209px;
  }

  .u-section-7 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/d4bd96d7755f27fa815e46a10b4e31bc02f974a45e4351b2709c5c4e0d2122253f1f4e000952c272332c627efb837f866648dea3f2eef4a04764b6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 713px;
}

.u-section-8 .u-image-1 {
  width: 257px;
  height: 257px;
  margin: 124px auto 0;
}

.u-section-8 .u-text-1 {
  text-decoration: underline !important;
  margin: 38px 60px 0;
}

.u-section-8 .u-social-icons-1 {
  height: 56px;
  min-height: 16px;
  width: 199px;
  min-width: 78px;
  white-space: nowrap;
  margin: 43px auto 60px;
}

.u-section-8 .u-icon-1 {
  height: 35px;
}

.u-section-8 .u-icon-2 {
  height: 35px;
}

.u-section-8 .u-icon-3 {
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    width: 231px;
    height: 231px;
    margin-top: 88px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-social-icons-1 {
    min-width: 140px;
  }
}